/* Navbar */
.navbar {
    background: #fff;
    border-bottom: 2px solid #e1e1e1;
}

.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 400;
}

.nav-item a {
    font-size: 20px;
    font-weight: 400;
}

.nav-item .active,
.nav-item a:hover {
    color: #c85a19 !important;
}

/* Cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-container a {
    text-decoration: none;
}

.plain-card {
    background: #fff;
    border: 1px solid #e1e1e1;
}

.card-bg-green {
    background: #00503c;
}

.card-bg-brown {
    background: #c85a19;
}

/* Group Table */
.group-table thead {
    background-color: #c85a19;
    color: #fff;
}

.group-table tbody tr:hover {
    background-color: rgba(200, 90, 25, 0.1);
}

/* Footer */
.footer {
    background: #00503c;
    border-bottom: 15px solid #003729;
    color: #fff;
}

/* Effects */
.transition-effect {
    transition: all 0.5s ease-in;
}
